body {
  font-family: 'Segoe UI', sans-serif;
  /* background: #0f0f0f; */
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-container {
  padding-top: 70px;
  /*display: flex;
  justify-content: center;
  *//*display: flex;
  */
 
}
