/* Contenedor general */
.resultados-card {
  width: 90%;
}

/* Título */

.title h2 {
  font-size: 28px;
  color: rgb(16, 137, 211);
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
}



/* Botón eliminar */
.button {
 cursor: pointer;
 color: white;
 transition: background .2s ease;
 background: #f8f7f7;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 50%;
}

.button:hover {
  background: #ff4d4d;
}



/* Texto vacío */
.vacio {
  text-align: center;
  font-size: 1.2rem;
  color: #777;
}


/* ---------------------Btn-------------------------------- */
.button {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(20, 20, 20);
  border: none;
}

.button:hover{
  transform: scale(1.1);
}

.button:active {
  letter-spacing: 3px;
  background-color: #FF2C2C;
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(255, 69, 69) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 200ms;
}
/* ---------------------Btn-------------------------------- */



Wrapper para scroll en mobile
.table-wrapper {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
}

/* Tabla principal */
.shuffle-table {
  width: 100%;
  border-collapse: collapse;
  background: #f7f7f7;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: rgba(133, 189, 215, 0.8) 0px 20px 30px -25px;
}

/* Header */
.shuffle-table thead {
  background: rgb(16, 137, 211);
}

.shuffle-table th {
  padding: 14px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9rem;
}

/* Filas */
.shuffle-table td {
  padding: 14px;
  justify-content: center;
  font-size: 1rem;
  color: #333;
  border-bottom: 1px solid #e0e0e0;
}

/* Hover fila */
.shuffle-table tbody tr:hover {
  background: rgba(16, 137, 211, 0.08);
}

/* Última fila sin borde */
.shuffle-table tbody tr:last-child td {
  border-bottom: none;
}

.fa-regular{
  font-size: 16px;
}

@media (max-width: 768px) {

  .shuffle-table,
  .shuffle-table thead,
  .shuffle-table tbody,
  .shuffle-table th,
  .shuffle-table td,
  .shuffle-table tr {
    display: block;
    width: 100%;
  }

  .shuffle-table{
    background-color: transparent;
  }
  /* Ocultar header */
  .shuffle-table thead {
    display: none;
  }

  .shuffle-table tbody tr:hover {
  background: #fff;
}

  /* Card */

  .resultados-card{
    width: 80%;
    padding: 20px;
  }
  
  .shuffle-table tbody tr {
    background: #ffffff; /* Fondo blanco puro */
    width: 100%;
    margin-bottom: 16px;
    padding: 16px 20px; /* Padding para separar contenido de bordes */
    border-radius: 14px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    box-sizing: border-box;
    position: relative;
    
  }

  /* Cada fila interna */
  .shuffle-table td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border: none;
    font-size: 1rem;
  }

  /* Label */
  .shuffle-table td::before {
    content: attr(data-label);
    font-weight: 700;
    color: rgb(16, 137, 211);
    text-transform: uppercase;
    font-size: 0.85rem;
    margin-left: 8px;
  }

 

.shuffle-table td[data-label="Acción"] {
  display: flex;
  flex-direction: column;       
  align-items: center;         
  gap: 8px;                    
  margin-top: 10px;
  padding: 10px 0;
  text-align: center;           
}

.shuffle-table td[data-label="Acción"]::before {
  content: "ACCIÓN";           
  font-weight: 700;
  color: rgb(16, 137, 211);
  text-transform: uppercase;
  font-size: 0.85rem;
  margin-bottom: 6px;
}

.shuffle-table .button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgb(16, 137, 211);
  color: white;
  box-shadow: 0 2px 6px rgba(245, 140, 140, 0.12);
  transition: background-color 0.3s ease;
  align-self: center;           
}

.shuffle-table .button:hover {
  background-color: rgb(12, 100, 155);
}

}


.containerUsers{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.buttonUseredit{
  transition: 0.9;
 display: flex;
 align-items: center;
 justify-content: center;
}

.buttonUseredit:hover{
  background-color: green;
}

.buttonUserdelete{
  transition: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonUserdelete:hover{
  background-color: #f81b06;
}