.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  color: var(--text-color);
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.title {
  margin-bottom: 1.3rem;
  font-weight: 600;
  color: #000;
  text-align: center;
}

.table {
  width: 100%;
  color: var(--text-color);
  background-color: #fff;
}

.table thead th {
  background-color: var(--table-header-bg);
  /* color: var(--text-color); */
  font-weight: 600;
  border-bottom: 2px solid var(--border-color);
  font-size: 1.4rem;
  text-align: center;
}

.table td,
.table th {
  vertical-align: middle;
  /* border-color: var(--border-color); */
}

.table tbody tr td{
  border: none;
  outline: none;
  /* background-color: royalblue; */
  padding: 10px;
  border-radius: 10px;
  /* color: #fff; */
  font-size: 1rem;
  transform: .3s ease;  
}



.table tbody tr td:hover{
  background-color: royalblue;
}
.empty {
  text-align: center;
  color: var(--text-color);
  opacity: 0.8;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
