.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

.left, .right {
  min-height: 100%;
}

@media (max-width: 960px) {
  .container { grid-template-columns: 1fr; }
}